chardet==3.0.4
Flask==1.0.3
Flask-Cors==3.0.9
Flask-WTF==0.14.2
gunicorn==19.9.0
Jinja2==2.10.1
lightfm==1.15
numpy==1.16.2
pandas==0.24.2
path.py==10.3.1
pathlib2==2.2.1
pickleshare==0.7.4
spotlight==0.1.5
unicodecsv==0.14.1
Werkzeug==0.15.4
WTForms==2.2.1
